<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

</head>

<body>
<header class="header">
    <a href="/"><img src="../../media/news_images/logo2.png" class="logo-img"></a>
    <h1>AI News</h1>
</header>


<main class="articles-container">
    {% for article in articles %}
    <div class="article" href="#">
        <figure class="article-image">
            <a href="/news/{{ article.id }}/"> <img src="{{ article.image.url }}" alt=""></a>
        </figure>
        <div class="article-body">
            <h2 class="article-title">
                <a href="/news/{{ article.id }}/">{{ article.title }}</a>
            </h2>
            <p class="article-content">
                {{ article.text }}
            </p>
            <footer class="article-info">
                <span>{{ article.created_at }}</span>
            </footer>
        </div>
    </div>
    {% endfor %}
</main>
</body>
</html>