<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <title>SketchNews</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

</head>

<body>
<header class="header">
    <a href="/"><img src="../../static/images/logo2.jpg" class="logo-img"></a>
    <h1>Sketch News</h1>
</header>
<main class="articles-container">

    {% for article in page_obj %}
    <div class="article" href="#">
        <figure class="article-image">
            <a href="/news/{{ article.id }}/"> <img src="{{ article.image.url }}" alt=""></a>
        </figure>
        <div class="article-body">
            <h2 class="article-title">
                <a href="/news/{{ article.id }}/">{{ article.title }}</a>
            </h2>
            <p class="article-content">
                {{ article.text }}
            </p>
            <footer class="article-info">
                <span>{{ article.created_at }}</span>
            </footer>
        </div>
    </div>
    {% endfor %}
</main>
    <div class="pagination">
    <!-- Ellipsis for pages before the current page -->
    {% if page_obj.number > 4 %}
        <a href="?page=1">1</a>
        <span class="ellipsis">...</span>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            {% if page_obj.number == num %}
                <span class="current">{{ num }}</span>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endif %}
    {% endfor %}

    <!-- Ellipsis for pages after the current page -->
    {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span class="ellipsis">...</span>
        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

    </div>



</body>
</html>