{% extends 'base.html' %}

{% block title %}
news
{% endblock %}
{% block content %}

<body>
<header class="header">
    <h1>Dutch News</h1>
</header>

<main class="main columns">
    <section class="column main-column">
        {% for article in first_articles %}
        <div class="article first-article" href="#">
            <figure class="article-image is-4by3">
                <img src="{{ article.image.url }}" alt="">
            </figure>
            <div class="article-body">
                <h2 class="article-title">
                    <a href="/{{ article.id }}/">{{ article.title }}</a>
                </h2>
                <p class="article-content">
                    {{ article.text }}
                </p>
                <footer class="article-info">
                    <span>{{ article.created_at }}</span>
                </footer>
            </div>
        </div>
        {% endfor %}


        <div class="columns">
            <div class="column">
                {% for article in second_articles %}
                <div class="article" href="#">
                    <figure class="article-image is-16by9">
                        <img src="{{ article.image.url }}" alt="">
                    </figure>
                    <div class="article-body">
                        <h2 class="article-title">
                            <a href="/{{ article.id }}/">{{ article.title }}</a>
                        </h2>
                        <p class="article-content">
                            {{ article.text }}
                        </p>
                        <footer class="article-info">
                            <span>{{ article.created_at }}</span>

                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="column">
                {% for article in third_articles %}
                <div class="article" href="#">
                    <figure class="article-image is-16by9">
                        <img src="{{ article.image.url }}" alt="">
                    </figure>
                    <div class="article-body">
                        <h2 class="article-title">
                            <a href="/{{ article.id }}/">{{ article.title }}</a>
                        </h2>
                        <p class="article-content">
                            {{ article.text }}
                        </p>
                        <footer class="article-info">
                            <span>{{ article.created_at }}</span>

                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>

    <section class="column">
        {% for article in forth_articles %}
        <div class="article" href="#">
            <figure class="article-image is-3by2">
                <img src="{{ article.image.url }}" alt="">
            </figure>
            <div class="article-body">
                <h2 class="article-title">
                    <a href="/{{ article.id }}/">{{ article.title }}</a>
                </h2>
                <p class="article-content">
                    {{ article.text }}
                </p>
                <footer class="article-info">
                    <span>{{ article.created_at }}</span>


                </footer>
            </div>
        </div>
        {% endfor %}
        {% for article in fifth_articles %}
        <div class="article" href="#">
            <figure class="article-image is-3by2">
                <img src="{{ article.image.url }}" alt="">
            </figure>
            <div class="article-body">
                <h2 class="article-title">
                    <a href="/{{ article.id }}/">{{ article.title }}</a>
                </h2>
                <p class="article-content">
                    {{ article.text }}
                </p>
                <footer class="article-info">
                    <span>{{ article.created_at }}</span>

                </footer>
            </div>
        </div>

        {% endfor %}
    </section>
</main>


</body>
{% endblock %}