<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="container article">
        <h2>{{ article.title }}</h2>
        <br>
        <figure>
            <img src="{{ article.image.url }}" alt="" width="500" height="500">
        </figure>
        <a target="_blank" href="/news/"></a>
</div>

</body>
</html>