<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SketchNews</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/news.css' %}">

</head>
<body>

<header class="header">
    <a href="/"><img src="../../static/images/logo2.jpg" class="logo-img"></a>
    <h1>Sketch News</h1>
</header>


<div class="full-article">

        <br>
        <figure>
            <img src="{{ article.image.url }}" alt="" >
        </figure>
        <a target="_blank" href="/news/"></a>
</div>

</body>
</html>